<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>DevPortfolio</title>
    <link rel="website icon" type="png" href="/images/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Lobster&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Lobster&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <button onclick="topFunction()" id="goTop" title="Go to top"></button>    <!-- Navbar -->
    <div class="home-container">
        <div class="navbar">
            <div style=" display: flex">
                <h2 style="color: #e6e6d7; padding-left: 40px;">PORT</h2>
                <h2 style="color: #36454F">FOLIO</h2>
            </div>
            <div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/resume" target="_blank">Resume</a></li>
                    <li>
                        <div class="dropdown" id="p-dropdown-container">
                            <span id="p-config" style="cursor: pointer;">
                              <span><a>Portfolio Form</a></span>
                              <i id="p-arrow" class="config-arrow arrow"></i>
                            </span>
                            <!-- Options for selection -->
                            <div class="options" id="p-dropdownOptions">
                                <a href="/user-form" target="_blank">PortfolioForm</a>
                                <a href="/portfolio-form" target="_blank">UpdatePortfolio</a>
                                <a href="/delete-account" target="_blank" style="color: rgb(180, 5, 5);">DeletePortfolio</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown" id="dropdown-container">
                            <span id="config" style="cursor: pointer;">
                              <span><a>Users</a></span>
                              <i id="arrow" class="config-arrow arrow"></i>
                            </span>
                            <!-- Options for selection -->
                            <div class="options" id="dropdownOptions">
                                <a href="/user-login" target="_blank" >Login</a>
                                <a href="/user-signup" target="_blank">Signup</a>
                                <a href="/user-delete-account" target="_blank" style="color: rgb(180, 5, 5);">DeleteAccount</a>
                            </div>
                        </div>
                    </li>
                <ul>
            </div>
        </div>
    </div>
