    <!-- Navbar -->
    <div class="home-container">
        <div class="navbar">
        <h2 style="color: #e6e6d7; padding-left: 40px;">PORT</h2>
        <h2 style="color: #36454F">FOLIO</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/education">Education</a></li>
                <li><a href="/experience">Experience</a></li>
                <li><a href="/skills">Skills</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/resume" target="_blank">Resume</a></li>
                <li><a href="/form" target="_blank">PortfolioForm</a></li>
                <li><a href="/login" target="_blank">Login</a></li>
            </ul>
        </div>
    </div>