    <%- include('partials/header.ejs') %>

    <!-- About Section -->
    <div class="about-container" id="about">
        <section class="about">
            <div class="about-column1">
                <h1> ABOUT</h1>
                <h3>Personal Details</h3>
                <p>
                    3+ years of experience in web development, specializing in HTML, CSS, and JavaScript.
                    Focused on responsive design, performance optimization, and user-centric solutions.
                    Experienced in collaborating with teams to deliver efficient, scalable websites.
                </p>
                <b>Full Name :</b>     &ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp; &emsp; &emsp; Muniba Ali <br>
                <b>Father’s Name :</b> &ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; Muhammad Ali <br>
                <b>Date of Birth :</b> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 15-04-1996 <br>
                <b>CNIC No :</b>       &ensp;&ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 34101-8296360-9 <br>
                <b>Nationality :</b>   &ensp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp; Pakistani <br>
                <b>Marital Status :</b> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp; &emsp; Single <br>
                <a href="/resume"><button>Check Resume</button></a>
            </div>
        </section>
        <div class="about-column2">
            <div class="image1">
                <img src="images/frontend.jpg" alt="backend picture">
            </div>
            <div class="image2">
                <img src="images/backend.jpg" alt="frontend picture">
            </div>
        </div>
    </div>
    <hr>
     
    <%- include('partials/footer.ejs') %>
    
    <script src="javascript/index.js"></script>
</body>
</html>