
    <%- include('partials/header.ejs') %>
    
    <!--Education and Experience Section-->
    <div class="education-container" id="education">   
        <div class="education-grid" id="experience">

            <h1>Education</h1>
            <h1>Experience</h1>

            <div class="education-section" style="visibility: hidden;"></div>
            
            <div class="experience-section">
                <div class="dot">
                    <div class="line"></div>
                </div>
                <h2>Front-End Web Developer</h2>
                <h3>Jan2023 - continue</h3>
                <h3><b>Company: </b>DevBatch</h3>
                <p style="margin-top: -15px;">
                    <strong>Summary:<br></strong>
                    &emsp;&emsp;&ensp;Implement responsive web interfaces using HTML, CSS, and JS.
                    <br>&emsp;&emsp;&ensp;Collaborate with designers to create user-friendly websites.
                </p>
            </div>

            <div class="education-section" style="padding-top: 20px;">
                <div class="dot">
                    <div class="line"></div>
                </div>
                <h2>Master of Software Engineering</h2>
                <h3>Sep2018 - Sep2020</h3>
                <h3>International Islamic University,<br> Islamabad </h3>
            </div>

            <div class="experience-section">
                <div class="dot">
                    <div class="line"></div>
                </div>
                <h2>Back-End Web Developer</h2>
                <h3>Aug2021 - Dec2022</h3>
                <h3><b>Company: </b>10Pearls</h3>
                <p style="margin-top: -15px;">
                    <strong>Summary:<br></strong>
                    &emsp;&emsp;&ensp;Create and manage server-side logic for web applications.<br>
                    &emsp;&emsp;&ensp;Integrate databases and third-party services into projects.
                </p>
            </div>

            <div class="education-section" style="padding-top: 20px;">
                <div class="dot">
                    <div class="line" style="height: 160px;"></div>
                </div>
                <h2>Bachelors of Software Engineering</h2>
                <h3>Jan2014 - Feb2018</h3>
                <h3>NUST National University Of Science & Technology, <br>Islamabad</h3>
            </div>

            <div class="experience-section">
                <div class="dot">
                    <div class="line"></div>
                </div>
                <h2>Software Engineer</h2>
                <h3>Feb 2019 - Dec 2020</h3>
                <h3><b>Company: </b>Innovatech Solutions</h3>
                <p style="margin-top: -15px;">
                    <strong>Summary:<br></strong>
                    &emsp;&emsp;&ensp;Developed and optimized backend services using Django.
                    <br>&emsp;&emsp;&ensp;Implemented RESTful APIs to integrate third-party services.
                </p>
            </div>

            <div class="education-section" style="padding-top: 20px; visibility: hidden;"></div>

            <div class="experience-section">
                <div class="dot">
                    <div class="line" style="height: 160px;"></div>
                </div>
                <h2>Full-Stack Web Developer</h2>
                <h3>Jan 2018 - Dec 2018</h3>
                <h3><b>Company: </b>TechSolutions Pvt. Ltd.</h3>
                <p style="margin-top: -15px;">
                    <strong>Summary:<br></strong>
                    &emsp;&emsp;&ensp;Developed scalable web applications using Node.js and React.js.
                    <br>&emsp;&emsp;&ensp;Built APIs and led migration to cloud-based architecture.
                   </p>
            </div>

        </div>
    </div>
    <hr style="margin-top: 80px;">
     
    <%- include('partials/footer.ejs') %>
    
    <script src="javascript/index.js"></script>
</body>
</html>