<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Forgetpassword.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Lobster&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Lobster&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <title>DevPortfolio</title>
    <link rel="website icon" type="png" href="images/logo.png">
</head>
<body>
<div class="container">
  <h2> Forget Password</h2>
<div id="forgotPasswordSection" class="input-container">
        <form id="forgotPasswordForm">
            <label for="fpEmail">Email Address:</label>
            <div>
                <i class="fa icons">&#xf0e0;</i>
                <input type="email" id="fpEmail" required>
            </div>

            <label for="fpsecurityQuestion">Security Question:</label>
            <select id="fpSecurityQuestion" required>
                <option value="" disabled selected>Select a question</option>
                <option value="pet">What is your favorite pet's name?</option>
                <option value="school">What was the name of your first school?</option>
                <option value="city">In what city were you born?</option>
            </select>

            <label for="fpsecurityAnswer">Answer:</label>
            <div>
                <i class="fa icons">&#xf112;</i>
                <input type="text" id="fpSecurityAnswer" required>
            </div>

            <label for="newPassword">New Password:</label>
            <div>
                <i class="fa icons">&#xf023;</i>
                <input type="password" id="newPassword" required>
            </div>
            <button type="submit" style="margin-left: 50px">Reset Password</button>
            <button id="showLoginFromForgot" style="margin-left: 10px">Back to Login</button>
        </form>
    </div>
</div>
<script src="javascript/Login.js"></script>
</body>
</html>