<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>DevPortfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Lobster&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Lobster&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    <button onclick="topFunction()" id="goTop" title="Go to top"></button>
    
    <%- include('partials/header.ejs') %>
    <!-- Home Page Section -->
    <div class="home-container">
        <div class="bio-container">
            <div class="bio">
                <h1 >Dive into My World of<br> Code and Creativity</h1>
                <p>
                    Hi, I’m <strong style="color: #36454F">Muniba Ali</strong>, a passionate Web Developer specializing in backend development and API design. I create scalable, high-performance APIs and server-side applications while also developing interactive UIs using React and Vue.js. With experience in Node.js and Django, I focus on building reliable and efficient systems.
                </p>
                <p>
                    I’m committed to writing clean, maintainable code and using the latest technologies to deliver intuitive solutions that meet client needs and exceed expectations. Let’s turn your ideas into reality with custom web applications, API integrations, and solid backend infrastructure.
                </p>
            </div>
            <div class="circle"></div>
        </div>
    </div>
    <hr>
    
    <%- include('partials/footer.ejs') %>
    
    <script src="javascript/index.js"></script>
</body>
</html>