<%- include('partials/header.ejs') %>
    <form id="resume-update-form" action="/api/update-form" method="post">
        <div class="form-container">
            <!-- Personal Information -->
            <div class="form-section personal-form">
                <h2>Personal Information</h2>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" placeholder="Enter your name" required style="height: 30px; width: 50%;">
                </div>
                <div class="form-group">
                    <label for="fatherName">Father Name:</label>
                    <input type="text" id="fatherName" name="fatherName" placeholder="Enter your Father name" required style="height: 30px; width: 50%;">
                </div>
                <div class="form-group">
                    <label for="cnic">CNIC:</label>
                    <input type="text" id="cnic" name="cnic" placeholder="Enter your CNIC" required style="height: 30px; width: 50%;">
                </div>
                <div class="form-group">
                    <label for="nationality">Nationality:</label>
                    <input type="text" id="nationality" name="nationality" placeholder="Enter your Nationality" required style="height: 30px; width: 50%;">
                </div>
                <div class="form-group">
                    <label for="dateOfBirth">Date Of Birth:</label>
                    <input type="date" id="dateOfBirth" name="dateOfBirth">
                </div>
                <div class="form-group">
                    <label for="maritalStatus">Marital Status:</label>
                    <input type="text" id="maritalStatus" name="maritalStatus" placeholder="Enter your marital status" required style="height: 30px; width: 50%;">
                </div>
                <div class="form-group">
                    <label for="title">Field / Professional Title:</label>
                    <input type="text" id="title" name="title" placeholder="e.g., Software Engineer" style="height: 30px; width: 50%;">
                </div>
                <div class="form-group">
                    <label for="gender">Gender:</label>
                    <select id="gender" name="gender" style="height: 30px; width: 52.5%;">
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                        <option value="other">Other</option>
                    </select>
                </div><div class="form-group">
                    <label for="image">Upload Your Picture:</label>
                    <input type="file" accept="image/*" id="image" name="image" required style="height: 30px; width: 50%;">
                </div>
                <div class="form-group">
                    <label for="bio">About You (Bio):</label>
                    <textarea id="bio" name="bio" rows="4" maxlength="1000" spellcheck="true" placeholder="Write a short bio (1000 characters)..." style="width: 50%;"></textarea>
                </div>
            </div>

            <!-- Education Section -->
            <div class="form-section education-form">
                <h2>Education</h2>
                <div class="form-group">
                    <label for="degree">Degree Program:</label>
                    <input type="text" id="degree" name="degree" spellcheck="true" placeholder="e.g., Bachelor of Computer Science" style="height: 30px; width: 52.5%;">
                </div>
                <div class="form-group">
                    <label for="institution">Institution:</label>
                    <input type="text" id="institution" name="institution" spellcheck="true" placeholder="e.g., University of XYZ" style="height: 30px; width: 52.5%;">
                </div>
                <div class="form-group">
                    <label for="city">Institution Location:</label>
                    <input type="text" id="city" name="city"  spellcheck="true" placeholder="e.g., Islamabad" style="height: 30px; width: 52.5%;">
                </div>
                <div class="form-group">
                    <label for="graduation">Year of Graduation:</label>
                    <input type="date" id="graduation" name="graduation" style="height: 30px; width: 52.5%;">
                </div>
                <button type="button" class="add-more" data-section-class="education-form">Add More Education</button>
            </div>

            <!-- Work Experience Section -->
            <div class="form-section experience-form">
                <h2>Work Experience</h2>
                <div class="form-group">
                    <label for="job-title">Job Title:</label>
                    <input type="text" id="job-title" name="job-title"  spellcheck="true" placeholder="e.g., Software Developer" style="height: 30px; width: 52.5%;">
                </div>
                <div class="form-group">
                    <label for="company">Company / Organization Name:</label>
                    <input type="text" id="company" name="company"  spellcheck="true" placeholder="e.g., TechSavior" style="height: 30px; width: 52.5%;">
                </div>
                <div style="display: flex; gap: 20px;">
                    <div class="form-group">
                        <label for="start-date">Start Date:</label>
                        <input type="date" id="start-date" name="start-date">
                    </div>
                    <div class="form-group">
                        <label for="end-date">End Date:</label>
                        <input type="date" id="end-date" name="end-date">
                    </div>
                </div>
                <div class="form-group">
                    <label for="job-description">Job Description:</label>
                    <textarea id="job-description"  spellcheck="true" name="job-description" rows="4" maxlength="1000" placeholder="Write a short job description (1000 characters)..." style="height: 90px; width: 52.5%;"></textarea>
                </div>
                <button type="button" class="add-more" data-section-class="experience-form">Add More Experience</button>
            </div>

            <!-- Projects -->
            <div class="form-section project-form">
                <h2>Projects</h2>
                <div class="form-group">
                    <label for="project-name">Project Name:</label>
                    <textarea id="project-name"  spellcheck="true" name="project-name" rows="3" maxlength="100" placeholder="Enter your project name" style="height: 90px; width: 52.5%"></textarea>
                </div>
                <div class="form-group">
                    <label for="project-description">Project Description:</label>
                    <textarea id="project-description"  spellcheck="true" name="project-description" rows="3" maxlength="2000" placeholder="Enter your project description (1000 characters)" style="height: 90px; width: 52.5%"></textarea>
                </div>
                <div class="form-group">
                    <label for="projectImage">Upload project preview picture:</label>
                    <input type="file" accept="image/*" id="projectImage" name="projectImage" required style="height: 30px; width: 50%;">
                </div>
                <div class="form-group">
                    <label for="project-link">Project Links:</label>
                    <input type="url" id="project-link" name="project-link" placeholder="e.g., https://github.com/yourproject" style="height: 30px; width: 52.5%">
                </div>
                <button type="button" class="add-more" data-section-class="project-form">Add More Projects</button>
            </div>

            <!-- Skills -->
            <div class="form-section skill-form">
            <h2>Skills</h2>
            <div class="form-group">
                <label for="skills">Technical / Soft Skills:</label>
                <input type="text" id="skills"  spellcheck="true" name="skills" placeholder="e.g., Python, JavaScript, Problem Solving" style="height: 30px; width: 52.5%">
            </div>
            <div class="form-group">
                <label for="skillImage">Upload skill logo:</label>
                <input type="file" accept="image/*" id="skillImage" name="skillImage" required style="height: 30px; width: 50%;">
            </div>
            <div class="form-group">
                <label for="proficiency">Proficiency Level:</label>
                <input type="number" id="proficiency" name="proficiency"  placeholder="Enter skill proficiency between 50 to 100" required style="height: 30px; width: 50%;">
            </div>
            <div class="form-group">
                <label for="skillDescription">Skill Description:</label>
                <input type="url" id="skillDescription" name="skillDescription" placeholder="Enter short skill description.." style="height: 30px; width: 52.5%">
            </div>
            <button type="button" class="add-more" data-section-class="skill-form">Add More Skills</button>
        </div>

            <!-- Contact Information -->
            <div class="form-section contact-form">
                <h2>Contact Information</h2>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required style="height: 30px; width: 52.5%;">
                </div>
                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="tel" id="phone" name="phone" placeholder="Enter your phone number" style="height: 30px; width: 52.5%;">
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    <input type="text" id="address" name="address" placeholder="e.g., Bahria Town, Rawalpindi" style="height: 30px; width: 52.5%;">
                </div>
            </div>

            <!-- Social Media Accounts -->
            <div class="form-section account-form">
                <h2>Social Media Accounts</h2>
                <div class="form-group">
                    <label for="linkedin">Linkedin:</label>
                    <input type="url" id="linkedin" name="linkedin" placeholder="Enter your Linkedin profile URL." style="height: 30px; width: 52.5%">
                </div>
                <div class="form-group">
                    <label for="github">Git Hub:</label>
                    <input type="url" id="github" name="github" placeholder="Enter your Github profile URL." style="height: 30px; width: 52.5%">
                </div>
                <div class="form-group">
                    <label for="youtube">You Tube:</label>
                    <input type="url" id="youtube" name="youtube" placeholder="Enter your youtube channel URL." style="height: 30px; width: 52.5%">
                </div>
                <div class="form-group">
                    <label for="twitter">Twitter:</label>
                    <input type="url" id="twitter" name="twitter" placeholder="Enter your twitter account URL." style="height: 30px; width: 52.5%">
                </div>
                <div class="form-group">
                    <label for="instagram">Instagram:</label>
                    <input type="url" id="instagram" name="instagram" placeholder="Enter your instagram account URL." style="height: 30px; width: 52.5%">
                </div>
            </div>

            <!-- Submit Button -->
            <div class="form-section submit-form">
                <div class="form-group" style="text-align: center">
                <button name="submit" id="submit" type="submit">Click Here To Submit</button>
        </div>
        </div>

        </div>
    </form>
    
    <script src="javascript/Form.js"></script> 
</body>
</html>
